{% extends 'base.html' %}
<style>
  html,
  body {
    height: 100%;
  }
  .bg {
    width: 100%;
    height: 100vh;
    background: #22bff3;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
</style>
{% block content %} {% if "PATIENT" == user.role %}
<div class="bg">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <h3>Mon agenda</h3>
        <div class="main">
          <h3>Mes rdv à venir</h3>
          {% for data in dataset %} doctor : {{ data.doctor }}<br />
          description : {{ data.description}}
          <br />
          Date de début : {{ data.slot.slotStart}}
          <br />
          Date de fin : {{ data.slot.slotEnd}}
          <br />
          <a
            type="button"
            class="btn btn-danger"
            href="{% url 'delete-reservation' data.slot.id %}"
          >
            Annuler
          </a>
          <a 
            type="button"
            class="btn btn-primary"
            href="{% url 'doctor-timeslot' doctor_id=data.doctor.id %}"
          >
            Reprendre un rendez-vous
          </a>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
