{% extends 'base.html' %} 
{% block content %}
<style>
  html,
  body {
    height: 100%;
  }
  .bg {
    width: 100%;
    height: 100vh;
    background: #22bff3;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="bg">
  <div class="row my-3 p-3">
    <h5>
    {% if "DOCTOR" == profile_owner.role %}
      Profile de Docteur
    {% else %} Profile de 
    {% endif %}
    {{profile_owner.last_name}} {{profile_owner.first_name}}</h5>
  </div>
  <div> Profession: {{profile_owner.job}}</div>
  <div> Adresse: {{profile_owner.adress}}</div>
  <div> Ville: {{profile_owner.city}}</div>
  <div> Télephone: {{profile_owner.username}}</div>
  {% if "DOCTOR" == profile_owner.role %}
    <div> Prestation: {{profile_owner.description}}</div>
    <a class="btn btn-primary" 
    href="{% url 'doctor-timeslot' doctor_id=profile_owner.id %}">Voir les créneaux disponibles</a>
  {% endif %}
</div>

{% endblock content %}
